*/1 * * * * java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. PowerData_producer
*/1 * * * * java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_Minute
*/1 * * * * java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_Minute_HBase
*/1 * * * * java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
* * * * * sleep 10; java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
* * * * * sleep 20; java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
* * * * * sleep 30; java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
* * * * * sleep 40; java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
* * * * * sleep 50; java -cp "/opt/cloudera/parcels/KAFKA/lib/kafka/libs/*":. Producer_PowerData_CC
